{% extends 'base.html.twig' %}

{% block title %}MailNotes{% endblock %}

{% block body %}
<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.category.name }}</td>
                <td>{{ note.datetime.format('d.m.Y') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
